<h1>Пользователи</h1>

<div class="w-75 m-3 table-responsive">
  <table class="table table-sm table-borderless">
    <thead>
      <thead class="text-center">
        <th>Имя пользователя</th>
        <th>Email</th>
        <th>Администратор</th>
        <th colspan="3"></th>
      </thead>
    </thead>

    <tbody class="text-start">
      <% @users.each do |user| %>
        <tr>
          <td class="col-3"><%= user.username %></td>
          <td class="col-3"><%= user.email %></td>
          <td class="col-2 text-center"><%= user.admin? ? 'Да' : 'Нет' %></td>
          <td class="col-1"><%= link_to 'Профиль', user %></td>
          <td class="col-1"><%= link_to 'Изменить', edit_user_path(user) %></td>
          <td class="col-1"><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>