<div class="collapse" id="navbarToggleExternalContent">
  <div class="p-4" style="background-color: #a0c0ff;">
    <h5 class="text-white h4">Управление</h5>
      <ul style="list-style-type: none;">
        <li><div class="w-25"><a class="nav-link" href="<%= users_path %>">Список пользователей</a></div></li>
      </ul>
  </div>
</div>
<nav class="navbar navbar-light" style="background-color: #80a0ff;">
  <div class="container-fluid">
    <% if user&.admin? %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>

    <% if user %>
      <span class="nav-item">
            <a class="nav-link" href="<%= sequence_input_path %>">Посчитать</a>
      </span>
      <span class="nav-item dropdown ms-auto dropstart">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= user&.username %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="<%= user_url(current_user) %>">Профиль</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="<%= session_logout_path %>">Выйти</a></li>
        </ul>
      </span>
    <% else %>
      <span class="nav-item ms-auto">
          <a class="nav-link" href="<%= session_login_path %>">Войти</a>
      </span>
    <% end %>
  </div>
  
</nav>